{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container mt-4">
    <h4>
        Enter the email associated with your account:
    </h4> 
    <hr>
    <div class="col-sm-8 col-md-4 offset-sm-2 offset-md-4 mt-3">
        <form method="post">
            {% csrf_token %}
            {{form | crispy}}
            <div class="d-grid gap-2">
                <button class ="btn btn-success" type="submit">Send reset instructions</button>
            </div>
        </form>
    </div>
<div>
{% endblock main %}