{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
    <div class="container mt-4">
        <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4">
            <h2>Sign up to our comunity!</h2>
            <hr>
            <form  method="post"> 
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button type = "submit" class="btn btn-success">Sign up!</button>
                </div>
            </form>
        </div>
        
    </div>
{% endblock main %}
