{% extends 'base.html' %}
{% block main %}
    <form  method="post"> 
        {% csrf_token %}
        {% for field in form %}
            <p>
                {% for error in field.errors %}
                    <p style="color: red">{{error}}</p>
                {% endfor %}
                {{field.label_tag}}
                {{field}}
                {% if field.help_text %}
                    <small style="color: grey">{{field.help_text}}</small>
                {% endif %}
            </p>
        {% endfor %}

        <input type = "submit" value = "Save">
    </form>
{% endblock main %}
